<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudantName</key>
	<string>complaints</string>
	<key>cloudantUserName</key>
	<string></string>
	<key>cloudantPassword</key>
	<string></string>
	<key>cloudantHostName</key>
	<string></string>
	<key>openWhiskKey</key>
	<string></string>
	<key>openWhiskPassword</key>
	<string></string>
	<key>pushAppGUID</key>
	<string></string>
	<key>pushAppClientSecret</key>
	<string></string>
	<key>pushAppRegion</key>
	<string>.ng.bluemix.net</string>
	<key>ananlyticsAppName</key>
	<string>BMDService</string>
	<key>ananlyticsApiKey</key>
	<string></string>
</dict>
</plist>
